<div class="container">
  <div class="login">
    <div>
      <h2><a href="player/{{login}}">{{login}}</a></h2>
    </div>
    <div class="update-btn">
      <button (click)="update(login)">update</button>
    </div>
  </div>

  <div class="navbar">
    <ul>
      <li class="tab" id="dashboard"><a href="player/{{login}}"><div class="">Dashboard</div></a></li>
      <li class="tab" id="graphs"><a href="player/{{login}}/graphs"><div class="">Graphs</div></a></li>
      <li class="tab" id="vehicles"><a href="player/{{login}}/vehicles"><div class="">Details</div></a></li>
    </ul>
  </div>
</div>
