.login{
  margin: 0 3em 0 3em;
  padding: 1ch;
}

.login > div{
  display: inline-block;
}

.update-btn{
  float: right;
  padding: 1ch;
  margin-right: 3em;
}

.container{
  margin-left: auto;
  margin-right: auto;
}

.navbar{
  margin: 0px 0px 4px;
}

ul{
  display: block;
  margin: 0px;
  padding-top: 8px;

}

.tab {
  display: inline-block;
  list-style: none;
  text-align: center;
  cursor: pointer;
  padding: 6px;
  margin: 0px;
  min-width: 10ch;
  background-color: #fcfdfe;
  border-bottom: 2px solid black;
}

.tab-active{
  background-color: white;
  border: 2px solid black;
  border-bottom: 0;
}

a {
  color: inherit;
  text-decoration: inherit;
}



