#container{
  margin-left: auto;
  margin-right: auto;
}

/******        TAB BAR         ******/
.tab-bar{
  margin: 0px;
}

ul{
  display: block;
  margin: 0;
  padding-top: 8px;;
}

.tab {
  display: inline-block;
  list-style: none;
  text-align: center;
  cursor: pointer;
  padding: 8px;
  margin: 0;
  min-width: 10ch;
  border-bottom: 2px solid black;
}

.tab-active{
  background-color: white;
  border: 2px solid black;
  border-bottom: hidden;
}
/******        TAB BAR         ******/

/******        FILTERS         ******/
#filters-tab{
  background-color: lightblue;
  border: 2px outset;
  margin:  1em 1em 0;
  padding: 5px 1em 1em;
  font-weight: bold;
}
#filters-tab.active{
  background-color: rgba(173, 216, 230, 0.6);
  border: 2px inset;
  border-bottom: none;
}
#filters-tab.active::after { content: "   \25b2" }
#filters-tab::after { content: "   \25bc" }

#filters{
  margin:  0 1em 1em;
  padding: 0 1em 1em 1em;
  border: 2px inset;
  background-color: #eef0f8;
}

.filter-label{
  padding: 4px;
  margin: 6px 0 0px;
  font-weight: bold;
}
.filter-label > span{
  font-style: italic;
  font-weight: normal;
  margin-left: 6px;
  margin-right: 6px;
}

.filter-option{
  display: inline-block;
  text-align: center;
  margin: 2px 8px 2px;
}

#battles-slider{
  margin-left: 0;
  margin-right: 0;
  width: 50%;
  cursor: pointer;
}
#battles-slider-output{
  padding: 0 4px 0;
  width: 3em;
}
#battles-slider-labels > span{
  /*font-weight: bold;*/
  font-style: italic;
  font-size: small;
}
#battles-slider-left-label{
  margin-right: 1px;
  padding-right: 0;
  padding-left: 1em;
}
#battles-slider-right-label{
  margin-left: 1px;
  padding-left: 0;
  padding-right: 1em;
}

#filter-btn{
  text-align: center;
}
#filter-btn > button{
  padding: 4px;
  margin: 4px;
  min-width: 100px;
}
/******        FILTERS         ******/


/******        TABLE         ******/
table {
  border: outset;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
td {
  text-align: left;
  padding: 5px;
  min-width: 2ch;
  border: 1px solid lightgray;
}
td.number{
  text-align: right;
  padding-right: 1ex;
}
tr:nth-child(even) {
  background-color: #eef0f8;
}
tr:nth-child(odd) {
  background-color: white;
}
th{
  padding: 10px;
  text-align: left;
  background-color: lightblue;
  border-bottom: 2px outset;
}
th[sorted][data-order|='asc']::after { content: "   \25bc" }
th[sorted][data-order|='desc']::after { content: "   \25b2" }

#summary-row{
  font-style: italic;
  font-weight: bold;
  border-bottom: 2px dotted grey;
  background-color: #eef0f8;
}

/******        TABLE         ******/


